.banner{

    h1{
        width: 10em;
        padding-top: 100px;
    }

    img{
        height: 42rem;
        margin-left:200px;
    }

    background: $color-azure;
    color: $color-white;
    padding: 2em 3em;
    margin-bottom: 80px;
    display: flex;
    width: 100%;
}


@media only screen and (max-width: 600px) {
    .banner{

        img{
            margin: 0 auto;
            width: 20rem;
        }
        display: flex;
        flex-direction: column;

    }

}

.card-container{
    h1{
        display: inline-flex;
        flex-direction: column;
    }
    display: inline-flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 200px;
}


.info-container{
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    padding:50px;

    .item2{
      width:450px;
      flex: 0 0 auto;
      margin: 0px;
      text-align:center;
      justify-content:center;
      align-items:center;
      padding-top:8rem;
    }

    .item{

    img{
        width:20rem;
    }
    padding-top:100px;
    width:450px;
    flex: 0 0 auto;
    margin: 0px;
    }

    .item2 p{
      margin:16px;
      text-align:center;
      justify-content:center;
      padding:16px;
    }

    .item2 h1{
      margin:16px;
      padding-top:8px;
    }

}

@media only screen and (max-width: 600px) {
    .info-container{

        .item2{
            width: 100%;
        }

        .item{
            width:100%;
        }
        display: flex;
        flex-direction: column;

    }

}

//survey-container
.survey-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-container{
    -webkit-box-shadow: 6px 4px 18px -3px #000000;
    box-shadow: 10px 18px 40px 0px rgba(0,0,0,0.3);
    border-radius: 16px;
    padding: 32px;
    margin: 32px auto;
    max-width: 960px;
    margin-bottom:250px;
}
