.banner{

    h1{
        width: 10em;
    }
    background: $color-azure;
    color: $color-white;
    padding: 8em 12em;
    height: 42em;
    margin-bottom: 80px;
}

.card-container{
    h1{
        display: inline-flex;
        flex-direction: column;
    }
    display: inline-flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 200px;
}


.info-container{
    background-color: $color-blue;
    height: 400px;
    margin-bottom: 100px;

}
