.navbar-brand{
    img{
        width: 200px;
    }
}

.avatar{
    width:50px;
    height:45px;
    text-transform: capitalize;
}

.nav-item{
    text-transform: uppercase;
}

.nav-link{
    margin-right: 12px;
}


@media only screen and (max-width: 600px) {
    .navbar-expand-md{
        .avatar{
            display: none;
        }
    }
}
