

.navbar-brand{
    img{
        width: 200px;
    }
}

.avatar{

    a{
        color:#000;
        text-decoration:none;
    }
    width:50px;
    height:45px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.5);
    text-decoration:none;
}

.nav-item{
    a{
        text-decoration: none;
        text-align: center;
    }
    text-transform: uppercase;

    .line{

        a{
            margin: 0 20px;

        }
        border-left: 2px solid $color-orange;
        height: 25px;
        padding: 0 50px;
    }
    width: 100%;

}

.nav-link{
    margin-right: 12px;
    width: 120px;
}


@media only screen and (max-width: 800px) {
    .navbar-expand-md{
        .avatar{
        display: none;
    }
        .line{
        border: none;
        padding: 4px 10px;
    }
    text-align: left;
}
}
